$font-1: "Roboto", sans-serif;
$font-title: 18px;
$font-par:14px;

$color-1: #FCF1E9 ;
$color-2: #000000;
$color-3: #FFFFFF;
$color-4: #FCC00C;
$color-6: #1F4392;

body {
    font-family: 'Roboto', sans-serif;
    background-color:$color-3;
    margin: 0;
}