@import "./sittings.scss";
@import "./components/Navigations.scss";
@import  "./components/Accueil.scss";
@import "./components/Burguer.scss";
@import "./components//logo.scss";
@import "./components/Header.scss";
@import "./components/Formulaire.scss";
@import "./components/Social";
@import "./components/footer.scss";
@import "./components//Produits.scss";
@import "./components/Dropdown";
@import "./components/Sales.scss";
@import "./components/langue.scss";
@import "./components/Sucres.scss";
@import "./components/Boissons.scss";
@import "./components/Histoire.scss";
@import "./components/Reservations.scss";
@import "./components/form.scss";
@import url(//db.onlinewebfonts.com/c/158fa6012dff0f88241ad898c46c0118?family=Avenir+Next+W1G);
@import url(//db.onlinewebfonts.com/c/164fce79eadeff648f8b1e539b2975db?family=Avenir+Next+Condensed+Medium);
@import url(//db.onlinewebfonts.com/c/2919517cb534a742df4474836ca67452?family=Avenir+Next+Condensed);
@import url(//db.onlinewebfonts.com/c/5c294df6a72dc706b380d5ec2b761c66?family=next);
@import url(//db.onlinewebfonts.com/c/dd03a756e0bb49461635fc31c00ab93e?family=Bistro);
@import url(//db.onlinewebfonts.com/c/942ea2c4ddf6b40736d3adbc9e2f1c40?family=Script);
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

@font-face {font-family: 'Avenir Next'; src: url("http://www.yoursite.com/fonts/Avenir_Next.otf");}
@font-face {font-family: "SCRIPT 9"; src: url("//db.onlinewebfonts.com/t/d09e39f809d6ccb51b58ddc0f9f5ad6d.eot"); src: url("//db.onlinewebfonts.com/t/d09e39f809d6ccb51b58ddc0f9f5ad6d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d09e39f809d6ccb51b58ddc0f9f5ad6d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d09e39f809d6ccb51b58ddc0f9f5ad6d.woff") format("woff"), url("//db.onlinewebfonts.com/t/d09e39f809d6ccb51b58ddc0f9f5ad6d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d09e39f809d6ccb51b58ddc0f9f5ad6d.svg#SCRIPT 9") format("svg"); }
@import url(//db.onlinewebfonts.com/c/d09e39f809d6ccb51b58ddc0f9f5ad6d?family=SCRIPT+9);
@font-face {font-family: "Script"; src: url("//db.onlinewebfonts.com/t/942ea2c4ddf6b40736d3adbc9e2f1c40.eot"); src: url("//db.onlinewebfonts.com/t/942ea2c4ddf6b40736d3adbc9e2f1c40.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/942ea2c4ddf6b40736d3adbc9e2f1c40.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/942ea2c4ddf6b40736d3adbc9e2f1c40.woff") format("woff"), url("//db.onlinewebfonts.com/t/942ea2c4ddf6b40736d3adbc9e2f1c40.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/942ea2c4ddf6b40736d3adbc9e2f1c40.svg#Script") format("svg"); }