.social {
    h4 {
        text-align: center;
        font-family: 'Avenir Next Condensed';
        font-weight: 600;
    }
    ul {
        text-decoration: none;
        list-style-type: none;
        padding: 0;
        text-align: center;
        
        img {
            height: 30px;
            border-radius: 100%;
        }
        
        .facebook {
            display: block;
            transform: translate(-5%);
        }
        .instagram {
            display: block;
            transform: translate(-1%, -100%);
        }
        .snapchat {
            display: block;
            transform: translate(3%, -200%);
        }
        
    }
}

@media screen and (max-width:750px) {
    .social {
        ul {
            img {
                height: 20px;
            }
            .facebook {
                transform: translate(0%, 0%);
            }
            .instagram {
                transform: translate(0%, 0%);
            }
            .snapchat {
                transform: translate(0%,0%);
            }
        }
    }
}