.container * {
  padding: 0;
  border: none;
  outline: none;
}
.container .contact-form {
  max-width: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #FFFFFF;
  padding: 0 30px 10px;
}
.container .contact-form h2 {
  margin-top: 35px;
  text-align: center;
}
.container .contact-form .form-content {
  display: grid;
  grid-template-rows: repeat(4, 1fr) 105px;
}
.container .contact-form .form-content input,
.container .contact-form .form-content textarea {
  background: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
  border-bottom: 1px solid #000000;
  color: #000000;
}
.container .contact-form .form-content input::-moz-placeholder, .container .contact-form .form-content textarea::-moz-placeholder {
  color: #000000;
  font-weight: 700;
  text-align: center;
}
.container .contact-form .form-content input:-ms-input-placeholder, .container .contact-form .form-content textarea:-ms-input-placeholder {
  color: #000000;
  font-weight: 700;
  text-align: center;
}
.container .contact-form .form-content input::placeholder,
.container .contact-form .form-content textarea::placeholder {
  color: #000000;
  font-weight: 700;
  text-align: center;
}
.container .contact-form .form-content input,
.container .contact-form .form-content .email-content,
.container .contact-form .form-content textarea {
  width: 90%;
  margin: 0 auto;
}
.container .contact-form .form-content input {
  padding: 24px 0 12px;
}
.container .contact-form .form-content .email-content {
  position: relative;
}
.container .contact-form .form-content .email-content input {
  width: 100%;
}
.container .contact-form .form-content #not-mail {
  display: none;
  position: absolute;
  top: 4px;
  color: #FCC00C;
  right: 0;
  transform-origin: 50% 50%;
}

@-webkit-keyframes dongle {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(-10px, 0px);
  }
  20% {
    transform: translate(10px, 0px);
  }
  30% {
    transform: translate(-10px, 0px);
  }
  40% {
    transform: translate(10px, 0px);
  }
  50% {
    transform: translate(-10px, 0px);
  }
  60% {
    transform: translate(10px, 0px);
  }
  70% {
    transform: translate(-10px, 0px);
  }
  80% {
    transform: translate(10px, 0px);
  }
  90% {
    transform: translate(-10px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes dongle {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(-10px, 0px);
  }
  20% {
    transform: translate(10px, 0px);
  }
  30% {
    transform: translate(-10px, 0px);
  }
  40% {
    transform: translate(10px, 0px);
  }
  50% {
    transform: translate(-10px, 0px);
  }
  60% {
    transform: translate(10px, 0px);
  }
  70% {
    transform: translate(-10px, 0px);
  }
  80% {
    transform: translate(10px, 0px);
  }
  90% {
    transform: translate(-10px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.container textarea {
  resize: none;
  padding: 24px 0;
}
.container .button {
  font-size: 1.3rem;
  margin-top: 15px;
  color: #cec950;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  width: 100%;
}
.container .button:hover {
  letter-spacing: 2px;
}
.container .error::-moz-placeholder {
  color: #ff4d4d;
}
.container .error:-ms-input-placeholder {
  color: #ff4d4d;
}
.container .error::placeholder {
  color: #ff4d4d;
}
.container .form-message {
  margin-top: 10px;
  padding: 12px;
  opacity: 0;
  transition: 0.2s ease;
  color: black;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(51, 51, 51, 0.3);
}/*# sourceMappingURL=Formulaire.css.map */